{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Link</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Target</th>
                <td>{{ entity.target }}</td>
            </tr>
            <tr>
                <th>Href</th>
                <td>{{ entity.href }}</td>
            </tr>
            <tr>
                <th>Sort</th>
                <td>{{ entity.sort }}</td>
            </tr>
        </tbody>
    </table>

        <div style="padding-top:10px;padding-bottom:10px;">
        <a href="{{ path('link') }}">
               <span class="glyphicon glyphicon-chevron-left"></span>   Back to the list
        </a>
</div>

        <a href="{{ path('link_edit', { 'id': entity.id }) }}">
            Edit
        </a>

    {{ form(delete_form) }}

{% endblock %}
