
{% extends 'ZeteqFrontBundle:Layout:layout.html.twig' %}


{% block title %}
Forgot password?
{% endblock %}
{% block middle_container %}
<div class="container"><div class="row">
<div class="page-header">
    <h1>Please enter your new password</h1>    </div>
    <div class="row">

    <div class="col-md-4">
<form id="save_new"  action="{{ path('reset_password_link',{'tmp': tmp} ) }}" method="post" {{ form_enctype(form) }}>
 
 
       {{ form_errors(form) }}
{{ form_row(form.password.first) }}
{{ form_row(form.password.second) }}     
           {{ form_widget(form._token) }}

<button class="btn btn-primary" type="submit">Reset Password</button>
    </form>
 
</div>

</div></div></div>
{% endblock %}



        