<style type="text/css">
</style>
<div id="index_welcome">
<h1 style="font-size:70px;font-weight:800">WELCOME TO ZETEQ SYSTEMS</h1>

<h2 style="font-weight:200;font-family:Arial condensed,sans-serif;font-size:33px">YOUR ULTIMATE PARTNER IN DEVELOPING MOBILE AND WEB APPLICATIONS</h2>
</div>

<div class="index_section" id="">
<div class="container">
<div class="section-header scrollimation fade-up in">
<h1 class="section-title " id="about_us_header">Who are we?</h1>

<p class="section-description lead">We are a team of programmers and designers located in Dhaka Bangladesh. Over the last 7 years we have worked with over hundreds of clients from all over the world ranging from small stores to large Multinational Companies. Though currently we focus on responsive web applications in lamp, but we have successfully delivered solutions on almost all languages and platforms including perl, c#, java, etc.</p>
</div>
<!--End section-header -->

<div class="row">
<h1>Some of our featured clients</h1>

<div class="col-md-2">
<div class="well"><a href="">British American Tobacca</a></div>
</div>

<div class="col-md-2">
<div class="well"><a href="">The Asia Foundation</a></div>
</div>

<div class="col-md-2">
<div class="well"><a href="">USAID</a></div>
</div>

<div class="col-md-2">
<div class="well"><a href="">ICDDRB</a></div>
</div>

<div class="col-md-2">
<div class="well"><a href="">BTCL</a></div>
</div>

<div class="col-md-2">
<div class="well"><a href="">Telecom Infrastructure operators of Bangladesh</a></div>
</div>
</div>

<p class="lead text-center">Want to talk about a custom solution? Contact us to discuss about it.</p>

<p class="text-center"><a class="btn btn-theme btn-lg scrollto" href="#contact">Contact Us</a></p>
</div>
<!--End container --></div>

<div class="index_section" id="services_detail" style="background-image:url('/images/services.jpg');background-size: 100% 160%">
<div class="container">
<div class="section-header">
<h1 class="section-title " id="services_header">Services</h1>

<p class="section-description lead">We create awesome Websites and Mobile Apps, the perfect solution for your project.<br />
We don't make mistakes, we make magic!</p>
</div>
<!--End section-header -->

<div class="row">
<div class="col-sm-3 item text-center scrollimation scale-in in">
<div class="icon"> </div>

<h3>Responsive Web Design</h3>

<h4>HTML5 Power</h4>

<h4>CSS3 Awesomeness</h4>

<h4>jQuery Magic</h4>
</div>

<div class="col-sm-3 item text-center scrollimation scale-in in">
<div class="icon"> </div>

<h3>Web Applications on php/mysql</h3>

<h4>Web Apps</h4>

<h4>Android Apps</h4>

<h4>iOS Apps</h4>
</div>

<div class="col-sm-3 item text-center scrollimation scale-in in">
<div class="icon"> </div>

<h3>Ecommerce Solutions</h3>

<h4>The Web</h4>

<h4>Clean Desing</h4>

<h4>Huppy Clients</h4>
</div>

<div class="col-sm-3 item text-center scrollimation scale-in in">
<div class="icon"> </div>

<h3>And everything else:</h3>

<h4>The Web</h4>

<h4>Clean Desing</h4>

<h4>Huppy Clients</h4>
</div>
</div>
<!--End row -->

<p class="lead text-center">Want to talk about a custom solution? Contact us to discuss about it.</p>

<p class="text-center"><a class="btn btn-theme btn-lg scrollto" href="#contact">Contact Us</a></p>
</div>
<!--End container --></div>

<div class="index_section" id="portfolio">
<div class="gallery clearfix container">
<div class="section-header">
<h1 id="" style="font-size:90px;color:white;">Portfolio</h1>

<p style="color:white;font-size:30px;">We create awesome Websites and Mobile Apps, the perfect solution for your project.<br />
We don't make mistakes, we make magic!</p>
</div>
<!--End section-header -->

<div class="row">
<div class="col-md-4 ">
<figure><a href="http://www.zivotjednekuchyne.cz"><img alt="Ikea, Life of One Kitchen" src="/gallery/ikea.jpg" /> </a>

<figcaption>Ikea, Life of One Kitchen<br />
<small><a href="http://www.smashingawards.com/design/life-of-one-kitchen/">Smashing Award Winner</a></small></figcaption>
</figure>
</div>

<div class="col-md-4 ">
<figure><a href="http://lifeisvertical.alpina-since1883.com"><img alt="Alpina - Life Is Vertical" src="/gallery/alpina.jpg" /> </a>

<figcaption>Alpina - Life Is Vertical<br />
<small><a href="http://www.cssdesignawards.com/css-web-design-award-winner.php?id=20048">CSS Design Award Winner</a></small></figcaption>
</figure>
</div>

<div class="col-md-4  ">
<figure><a href="http://www.nouvelleoctavia.fr"><img alt="New Škoda Octavia" src="/gallery/skoda.jpg" /> </a>

<figcaption>New Škoda Octavia<br />
<small><a href="http://cssawards.net/new-skoda-octavia/">CSS Awards Site of the Day</a></small></figcaption>
</figure>
</div>
</div>

<div class="row">
<div class="col-md-4">
<figure><a href="http://finnsjourney.de"><img alt="Finn’s Journey" src="/gallery/finnsjourney.jpg" /> </a>

<figcaption>Finn’s Journey</figcaption>
</figure>
</div>

<div class="col-md-4">
<figure><a href="http://public.orsi-and-jan.info/home"><img alt="Orsi and Jan" src="/gallery/jan.jpg" /> </a>

<figcaption>Orsi & Jan’s Wedding</figcaption>
</figure>
</div>

<div class="col-md-4">
<figure><a href="http://innovation.kenmore.com/explore/"><img alt="Kenmore Innovations" src="/gallery/kenmore.jpg" style="width:100%" /> </a>

<figcaption>Kenmore Innovations</figcaption>
</figure>

<figure><a href="http://www.zippergaleria.com.br/pt/"><img alt="Zipper Galleria" src="/gallery/zipper.jpg" /> </a>

<figcaption>Zipper Galleria<br />
<small><a href="http://www.awwwards.com/web-design-awards/zipper-galeria">Awwwards Site of the Day Winner</a></small></figcaption>
</figure>
</div>
</div>
</div>
</div>

<div class="index_section" id="contact_div" style="background:#FC5241;padding-bottom: 100px">
<div class="container">
<div class="section-header">
<h1 class="section-title " id="services_header" style="font-size:100px;color:white"><span id="contact">Contact Us</span></h1>

<p class="section-description lead"><span id="contact">We create awesome Websites and Mobile Apps, the perfect solution for your project.<br />
We don't make mistakes, we make magic!</span></p>
</div>
<span id="contact"><!--End section-header --> </span>

<div class="row" style="text-align:left">
<div class="col-md-6">
<h2><span id="contact">Drop us a line</span></h2>

<h4><span id="contact">Have a project in mind? Or query about something. Feel free to send us a message!</span></h4>

<form method="post" role="form">
<div class="form-group">
<h3><span id="contact"><label for="exampleInputFile">Your name</label></span></h3>
<span id="contact"><input class="form-control" id="exampleInputEmail1" placeholder="Enter email" style="font-size:24px;height:60px" type="email" /> </span></div>

<div class="form-group">
<h3><span id="contact"><label for="exampleInputFile">Your email address</label></span></h3>
<span id="contact"><input class="form-control" id="exampleInputEmail1" placeholder="Enter email" style="font-size:24px;height:60px" type="email" /> </span></div>

<div class="form-group">
<h3><span id="contact"><label for="exampleInputFile">Message</label></span></h3>
<span id="contact"><textarea class="form-control" placeholder="Your message" style="font-size:24px;height:160px"></textarea> </span></div>

<div style="text-align:center"><span id="contact"><button class="btn btn-success btn-lg" type="submit">Send Message</button> </span></div>
</form>
</div>

<div class="col-md-1"><span id="contact"> </span></div>

<div class="col-md-5">
<h2><span id="contact">Let's meet</span></h2>

<h4><span id="contact">Want to work with us or just want to say hello? Don't hesitate to come over!</span></h4>

<h2><span id="contact">House 6 Road 33 </span></h2>

<h2><span id="contact">Gulshan 2 </span></h2>

<h2><span id="contact">Dhaka 1212 Bangladesh</span></h2>

<h2><span id="contact">contact@zeteq.com</span></h2>

<h2><span id="contact">01713121148</span></h2>
</div>
</div>
<span id="contact"> </span></div>
</div>
<script>
    $(document).ready(function() {
        // This example adds a duration to the tweens so they are synced to the scroll position

        var controller = $.superscrollorama();

        // amount of scrolling over which the tween takes place (in pixels)
        var scrollDuration = 200;
        controller.addTween('#portfolio', TweenMax.fromTo($('#portfolio'), .2, {css: {backgroundColor: '#1F1A03'}, immediateRender: true, ease: Quad.easeInOut}, {css: {opacity: 1, backgroundColor: '#D1B113'}, ease: Quad.easeInOut}), 300);


        controller.addTween('#services_details', TweenMax.fromTo($('#services_detail'), 1, {css: {color: '#999'}, immediateRender: true, ease: Quad.easeInOut}, {css: {opacity: 1, color: '#ffffff'}, ease: Quad.easeInOut}), 200);




        controller.addTween('#about_us_header', TweenMax.fromTo($('#about_us_header'), .25, {css: {opacity: 0.8, fontSize: '60px'}, immediateRender: true, ease: Quad.easeInOut}, {css: {opacity: 1, fontSize: '90px'}, ease: Quad.easeInOut}), scrollDuration, false);
        controller.addTween('#services_header', TweenMax.fromTo($('#services_header'), .25, {css: {opacity: 0.8, color: '#999', fontSize: '60px'}, immediateRender: true, ease: Quad.easeInOut}, {css: {opacity: 1, color: '#ffffff', fontSize: '90px'}, ease: Quad.easeInOut}), scrollDuration, false);


        $('#portfolio .gallery figure').css('position', 'relative').each(function() {
            controller.addTween('#portfolio .gallery', TweenMax.from($(this), 1, {delay: Math.random() * .2, css: {left: Math.random() * 200 - 100, top: Math.random() * 200 - 100, opacity: 0.4}, ease: Back.easeOut}), 300);
        });





        // individual element tween examples
        controller.addTween('#fade-it', TweenMax.from($('#fade-it'), .5, {css: {opacity: 0}}), scrollDuration);
        controller.addTween('#fly-it', TweenMax.from($('#fly-it'), .25, {css: {right: '1000px'}, ease: Quad.easeInOut}), scrollDuration);
        controller.addTween('#spin-it', TweenMax.from($('#spin-it'), .25, {css: {opacity: 1, rotation: 360}, ease: Quad.easeOut}), scrollDuration);
        controller.addTween('#smush-it', TweenMax.fromTo($('#smush-it'), .25, {css: {opacity: 0, 'letter-spacing': '30px'}, immediateRender: true, ease: Quad.easeInOut}, {css: {opacity: 1, 'letter-spacing': '-10px'}, ease: Quad.easeInOut}), scrollDuration); // 100 px offset for better timing













    });
    </script><script src="{{ asset('js/plugins.js') }}"  type="text/javascript"></script><script type="text/javascript" src="{{asset("js/skrollr/dist/skrollr.min.js")}}"></script><script type="text/javascript">

        $(document).ready(function() {

            var s = skrollr.init({
                forceHeight: false
            });
        });
    </script><script type="text/javascript">// <![CDATA[
        $('#top-nav').onePageNav({
            currentClass: 'active',
            changeHash: true,
            scrollSpeed: 1000
        });
// ]]></script><script type="text/javascript" src="{{asset('js/backstretch.js')}}"></script><script type="text/javascript">

        $(document).ready(function() {

            $("body").backstretch([
                "{{asset('images/5.jpg')}}",
                "{{asset('images/1.png')}}"


            ],
                    {
                        duration: 6000,
                        fade: 'slow'

                    }
            );

        });
    </script>