<div class="container" style="margin-bottom: 50px;">
    <br/>
    <h1 class="upp" style="text-align: center">About Us</h1>
    <p class="breakline"></p>



    <p class="lead" style="text-align: center">We are a team of programmers and designers located in Dhaka Bangladesh. Over the last 7 years we have worked with over hundreds of clients from all over the world ranging from small stores to large Multinational Companies. Though currently we focus on responsive web applications in lamp, but we have successfully delivered solutions on almost all languages and platforms including perl, c#, java, etc.</p>

    <div class="row">
        <h2 style="text-align: center">Some of our featured clients</h2>
        <div style="text-align: center">
            <div class="col-md-1"> </div>

            <div class="col-md-2 col-sm-6 col-xs-6">
                <div class="">
                    <div class="gsWrapper" style="position: relative; display: inline-block;"><a href="javascript:#"><img class="img-responsive" src="{{asset('upload/images/clients/bat.png')}}" style="display: inline;" /></a></div>
                </div>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-6">
                <div class="">
                    <div class="gsWrapper" style="position: relative; display: inline-block;"><a href="javascript:"><img class="img-responsive" src="{{asset('upload/images/clients/asia.png')}}" style="display: inline;" /></a></div>
                </div>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-6">
                <div class="">
                    <div class="gsWrapper" style="position: relative; display: inline-block;"><a href="javascript:"><img class="img-responsive" src="{{asset('upload/images/clients/usaid.png')}}" style="display: inline;" /></a></div>
                </div>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-6">
                <div class="">
                    <div class="gsWrapper" style="position: relative; display: inline-block;"><a href="javascript:"><img class="img-responsive" src="{{asset('upload/images/clients/icddrb.png')}}" style="display: inline;" /></a></div>
                </div>
            </div>

            <div class="col-md-2 col-sm-6 col-xs-6">
                <div class="">
                    <div class="gsWrapper" style="position: relative; display: inline-block;"><a href="javascript:"><img class="img-responsive" src="{{asset('upload/images/clients/btcl.png')}}" style="display: inline;" /></a></div>
                </div>
            </div>

            <div class="col-md-1"> </div>
        </div>
    </div>
    
    <p class="lead text-center">Want to talk about a custom solution? Contact us and let's discuss!</p>

</div>