<div class="container" style="margin-bottom: 50px;">
    <br/>
    <h1 class="upp" style="text-align: center">Admin Features</h1>
    <p class="breakline"></p>

    <div class="row feature_row">

        <div class="col-md-4 col-cstm">
            <div class="feat-icon-div">        <img  class="icons" src="{{asset('upload/images/icons/image.png')}}">     </div>
            <h2 class="feat-icon-h3">Image Gallery</h2><br>
            <h4>A great way to showcase your specialties! Easily create, upload and setup your images for your image gallery and display your best stuff!</h4>
        </div>

        <div class="col-md-4 col-cstm">
            <div class="feat-icon-div">        <img  class="icons" src="{{asset('upload/images/icons/db.png')}}">      </div>
            <h2 class="feat-icon-h3">Database Backup/Restore</h2>
            <h4>Losing your database means that your site is as good as gone. With this feature you can easily backup your database and restore it any time you want.</h4>
        </div>

        <div class="col-md-4 col-cstm">
            <div class="feat-icon-div">        <img  class="icons" src="{{asset('upload/images/icons/folder.png')}}">      </div>
            <h2 class="feat-icon-h3">Built In File Manager</h2>
            <h4>The CMS contains a powerful backend file manager that allows you to flexibly manage your files without going through the hassle of going anywhere else!</h4>
        </div>

    </div>
    <br><br>
    <div class="row feature_row">

        <div class="col-md-4 col-cstm">
            <div class="feat-icon-div">        <img  class="icons" src="{{asset('upload/images/icons/edit.png')}}">      </div>
            <h2 class="feat-icon-h3">WYSWIG Page Editor</h2><br>
            <h4>With the WYSIWYG attached to the front end, when you're logged in, all you have to do is click on the area you want to edit and the WYSIWYG editor will pop right into it!</h4>
        </div>

        <div class="col-md-4 col-cstm">
            <div class="feat-icon-div">        <img  class="icons" src="{{asset('upload/images/icons/backup.png')}}">      </div>
            <h2 class="feat-icon-h3">Automatic Backup</h2><br>
            <h4>Never lose another file! With the automatic backup feature all your files are backed up with a date-stamp. Using this feature you can easily revert to a previous state.</h4>
        </div>

        <div class="col-md-4 col-cstm">
            <div class="feat-icon-div">        <img  class="icons" src="{{asset('upload/images/icons/role.png')}}">      </div>
            <h2 class="feat-icon-h3">Role Based User Management</h2><br>
            <h4>When properly implemented, RBUM enables users to carry out a wide range of authorized tasks by dynamically regulating their actions according to flexible functions, relationships, and constraints.</h4>
        </div>

    </div>










</div>