<div class="container" style="margin-bottom: 50px;">
    <br/>
    <h1 class="upp" style="text-align: center">Frontend Features</h1>
    <p class="breakline"></p>

    <div class="row feature_row">

        <div class="col-md-4 col-cstm">
            <div class="feat-icon-div">        <img  class="icons" src="{{asset('upload/images/icons/contact.png')}}">     </div>
            <h2 class="feat-icon-h3">Contact Page</h2><br>
            <h4>With every CMS project you will have a built-in Contact Page which allows you to receieve feedback from people who use your website to let you know what's on their mind.</h4>
        </div>

        <div class="col-md-4 col-cstm">
            <div class="feat-icon-div">        <img  class="icons" src="{{asset('upload/images/icons/seo.png')}}">      </div>
            <h2 class="feat-icon-h3">SEO Friendly</h2><br>
            <h4>When it comes to trying to start a website business or improving one, SEO is the most important thing right after the content. They both go hand in hand and are extremely important to having your website rank naturally! Search Engine Optimization helps you achieve this.</h4>
        </div>

        <div class="col-md-4 col-cstm">
            <div class="feat-icon-div">        <img  class="icons" src="{{asset('upload/images/icons/url.png')}}">      </div>
            <h2 class="feat-icon-h3">Clean URLs</h2><br>
            <h4>Browser address bars are usually filled with text that looks like gibberish and gives you an unsettling feeling. How amazing is it to look at the address bar and say, hey, I can actually read this and it makes sense!</h4>
        </div>

    </div>
    <br><br>
    <div class="row feature_row">

        <div class="col-md-4 col-cstm">
            <div class="feat-icon-div">        <img  class="icons" src="{{asset('upload/images/icons/newsletter.png')}}">      </div>
            <h2 class="feat-icon-h3">Newsletter</h2><br>
            <h4>Newsletters are important for you to keep your subscribers updated about your business. Create and send newsletters easily from the backend and manage your contacts! Build stronger relations!</h4>
        </div>

        <div class="col-md-4 col-cstm">
            <div class="feat-icon-div">        <img  class="icons" src="{{asset('upload/images/icons/slideshow.png')}}">      </div>
            <h2 class="feat-icon-h3">Slideshow</h2><br>
            <h4>Slideshows are integral and are a great way to showcase your specialties! Easily create, upload and setup your images for your image gallery and display your best stuff!</h4>
        </div>

        <div class="col-md-4 col-cstm">
            <div class="feat-icon-div">        <img  class="icons" src="{{asset('upload/images/icons/responsive.png')}}">      </div>
            <h2 class="feat-icon-h3">Responsive Menu Creator</h2>
            <h4>With the Responsive Menu Creator, you can conveniently create responsive menus that are ideal for all kinds of devices from which your website will be accessed from.</h4>
        </div>

    </div>

    <br><br>
    <div class="row feature_row">

        <div class="col-md-4 col-cstm">
            <div class="feat-icon-div">        <img  class="icons" src="{{asset('upload/images/icons/edit.png')}}">      </div>
            <h2 class="feat-icon-h3">Simple Page Editing</h2>
            <h4>With the WYSIWYG attached to the front end you can click on the area you want to edit and the WYSIWYG editor will pop right into it! You can easily edit pages from the backend as well under the page section.</h4>
        </div>

        <div class="col-md-4 col-cstm">
            <div class="feat-icon-div">        <img  class="icons" src="{{asset('upload/images/icons/blog.png')}}">      </div>
            <h2 class="feat-icon-h3">Built-in Blog</h2><br>
            
            <h4>Having a blog for your website also allows you to create a dialogue with the customers. This allows you to keep communication flowing between you and your customers. Build good relationships and you’ll build customer loyalty as well, which means more profit for you.</h4>
        </div>

        <div class="col-md-4 col-cstm">
            <div class="feat-icon-div">        <img  class="icons" src="{{asset('upload/images/icons/slot.png')}}">      </div>
            <h2 class="feat-icon-h3">Create Slots & Pages</h2>
            <h4>You can easily create pages from the backend along with slots, which are like small plugs that can fit into a particular page or section. You can use the same slots anywhere and everywhere you want!</h4>
        </div>

    </div>

</div>
