{% extends 'ZeteqFrontBundle:Layout:blog_layout.html.twig' %}


 {% block blog_header %}    <h1><a href="{{'blog'}}">Our Blog</a> /<a href="{{path('blogpostcategory_show',{'slug': entity.getCategory().getSlug()}) }}"> {{entity.getCategory().getName()}}</a></h1> {% endblock%}

{% block blog_content%}



<h1>{{entity.getTitle()}}</h1>
<div>
    {{entity.getBody() | raw}}
    
</div>

{% endblock blog_content %}