{% extends 'ZeteqFrontBundle:Layout:layout.html.twig' %}
{% block title %} {{entity.getTitle()}}  {% endblock %}
{% block middle_container -%}
<div class="container">
    
{% block content -%}
  <script type="text/javascript" src="{{asset('bundles/trsteelckeditor/ckeditor.js')}}"></script>
  

  
  
    <form method="post" action="{{path('blogpost_editor_save',{'slug':entity.slug})}}">
        
        <nav role="navigation" class="navbar navbar-default  navbar-fixed-bottom" id="" style="box-shadow: 0px 0px 3px black;margin-top:60px;">
        
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button data-target="#nav_collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                
                    <a class="navbar-brand">Blog post editor</a>
 
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="nav_collapse">

 
               <button type="submit" class="btn btn-danger pull-right navbar-btn">Save</button>
                       <a href="{{path('blogpost_edit',{'id':entity.id})}}" class="btn btn-info navbar-btn pull-right" style="margin-right: 10px">
            Edit in admin
        </a>
               
               <a href="{{path('blogpost_show',{'slug':entity.slug})}}" class="btn btn-info navbar-btn pull-right" style="margin-right: 10px">
            Back to the page
        </a>
      
        </div><!-- /.navbar-collapse -->
        
        </div>
      </nav>
        
        
        <div style="height:40px">&nbsp;</div>
        
        <textarea id="article-body" name="body">
{{entity.getBody()}}
        </textarea>
        
       
</form>
    

  
  
    <script type="text/javascript">
                    
        var trsteelConfig = {
                            width: '100%',
                                        height: '500',
                                                    language: 'en-au',
                                        uiColor: "#000000",
                                        startupOutlineBlocks: 1,
                                        filebrowserUploadUrl: 'relative-url.php?type=file',
                                        filebrowserImageBrowseUrl: '/front.php/elfinder?type=image',
            
                                                                                                                                                                            contentsCss: [],
                                                                                                                toolbar: [{"name":"document","items":["Source"]},{"name":"clipboard","items":["Cut","Copy","Paste","Undo","Redo"]},{"name":"editing","items":["Find","Replace","-","SelectAll"]},{"name":"basicstyles","items":["Bold","Italic","Underline","Strike","Subscript","Superscript","-","RemoveFormat"]},{"name":"paragraph","items":["NumberedList","BulletedList","-","Outdent","Indent","-","JustifyLeft","JustifyCenter","JustifyRight","JustifyBlock"]},{"name":"links","items":["Link","Unlink","Anchor"]},{"name":"insert","items":["Image","Flash","Table","HorizontalRule"]},{"name":"styles","items":["Styles","Format"]}]
        };
var instance = CKEDITOR.inline( 'article-body',trsteelConfig );

instance.on('blur',function( e ){
   return false;
});
      
      
      

        </script>
  
  

{% endblock content%}
    </div>
{% endblock middle_container %}

    {% block admin_menu%}   {% endblock  %}