{% block extends %}
{{ "{% extends 'ZeteqAdminBundle:Admin:admin_layout.html.twig' %}" }}
{% endblock extends %}

{{" {% block title %}"}}
New {{entity}} --Admin
{{ "{% endblock %}" }}



{{" {% block stylesheets %} "}}
{{"  {{parent()}} "}}"}}
{{"  {{ form_stylesheet(form) }}"}}
{{"  {% endblock %}"}}

{{" {% block javascripts %}"}}
{{" {{parent()}}    {{ form_javascript(form) }}"}}
{{" {% endblock %}"}}





{% block body %}
{{ "{% block content -%}" }}
 

{{"{{ form_start(form) }} "}}


   <nav id="form_fixed_top_menu"  class="navbar navbar-default  navbar-fixed-top" role="navigation">
        
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav_collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                
                    <a class="navbar-brand">{{entity}} create</a>
 
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="nav_collapse" class="collapse navbar-collapse">

 
            
        
        <a style="margin-right: 10px"  class="btn btn-info navbar-btn pull-right"  href="{{" {{ path('" ~ route_name_prefix ~ "') }} "}}">
            Back to the list
        </a>
 
               
       <button  style="margin-right: 10px"  class="btn btn-warning pull-right navbar-btn" type="submit">Save</button>
      
        </div><!-- /.navbar-collapse -->
        
        </div>
      </nav>



 
 {{" {{ form_errors(form) }} "}}

 {{"   {{ form_end(form) }} "}}

 {{ "{% endblock %}" }}
{% endblock body %}
